/*
- - - - - - - - - - - - - - - - - - - 
- Variables
- - - - - - - - - - - - - - - - - - -
*/

:root {
  /* colores de la paleta CGA */
  --cga-black: #000000;
  --cga-blue: #0000AA;
  --cga-green: #00AA00;
  --cga-cyan: #00AAAA;
  --cga-red: #AA0000;
  --cga-magenta: #AA00AA;
  --cga-brown: #AA5500;
  --cga-light-gray: #AAAAAA;
  --cga-dark-gray: #555555;
  --cga-light-blue: #5555FF;
  --cga-light-green: #55FF55;
  --cga-light-cyan: #55FFFF;
  --cga-light-red: #FF5555;
  --cga-light-magenta: #FF55FF;
  --cga-yellow: #FFFF55;
  --cga-white: #FFFFFF;

  /* colores de la paleta terminal */
  --terminal-ambar: #ffb700;
  --terminal-green: #00ff00;
  --terminal-dark-green: #006b00;
  --terminal-darkest-green: #001500;

  --terminal-text-shadow: 0 0 3px var(--terminal-dark-green), 0 0 5px var(--terminal-green);

  font-size: 1rem;
}


/*
- - - - - - - - - - - - - - - - - - - 
- Ajustes generales
- - - - - - - - - - - - - - - - - - -
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'vt220';
  src: url('../fonts/vt220.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100dvh;
  background-color: black;
  font-family: 'vt220', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  color: var(--terminal-green);
  text-shadow: var(--terminal-text-shadow);
}

section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

input,
textarea,
button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1 {
  font-size: 4rem;
  padding: 0px;
  margin: 0px;
  margin-top: 2rem;
}

h2 {
  font-size: 2.5rem;
  padding: 0px;
  margin: 0px;

}

a {
  color: var(--terminal-green);
  text-decoration: none;
}

footer {
  margin: 2rem;
}


/*
- - - - - - - - - - - - - - - - - - - 
- Secci칩n de enlaces
- - - - - - - - - - - - - - - - - - -
*/
.links-table {
  border: 2px solid var(--terminal-darkest-green);
  padding: 1rem 2rem 1rem 2rem;

  & TD {
    display: inline;
  }
}

#photo {
  height: 200px;
  width: 200px;
}

/*
- - - - - - - - - - - - - - - - - - - 
- Secci칩n de contacto
- - - - - - - - - - - - - - - - - - -
*/
#section-contact-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

#contact-form {
  border: 2px solid var(--terminal-darkest-green);
  padding: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & textarea {
    grid-column: span 2;
  }

  & .form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

#contact-form>button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  padding: 0.25rem 1rem;
  border-radius: 5px;
  color: var(--terminal-green);
  border: 2px solid var(--cga-green);
  background-color: #000;
  box-shadow: var(--terminal-text-shadow);
  width: fit-content;
  align-self: center;
}

#contact-form>button:hover {
  border: 2px solid var(--terminal-green);
  font-weight: 900;
  cursor: pointer;
  box-shadow: inset 0px 0px 14px 0px var(--terminal-dark-green);
}

.form-element {
  background-color: var(--terminal-darkest-green);
  padding: 0.5rem;
  font-size: 2rem;
  caret-color: var(--terminal-green);
  color: var(--terminal-green);
  border: none;
  border-bottom: 2px solid var(--cga-green);
  border-radius: 3px;
}

.form-element:focus {
  outline: 2px solid var(--cga-light-green);
  border-bottom: 2px solid transparent;
}

.form-element::placeholder {
  color: var(--terminal-dark-green);
}


/*
- - - - - - - - - - - - - - - - - - - 
- Secci칩n de enlaces 
- - - - - - - - - - - - - - - - - - -
*/
.cursor {
  animation: blink 1s step-end infinite;
}

.link {
  cursor: pointer;
}

body:has(.link:hover) .cursor {
  display: none;
}

body:has(#link1:hover) #link-text1 {
  display: inline;
}

body:has(#link2:hover) #link-text2 {
  display: inline;
}

body:has(#link3:hover) #link-text3 {
  display: inline;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


/*
- - - - - - - - - - - - - - - - - - - 
- Im치gen del gato sobre el header 
- - - - - - - - - - - - - - - - - - -
*/
header {
  position: relative;
}

#cat {
  position: absolute;
  z-index: -1;
}

#cat {
  position: absolute;
  z-index: -1;
  filter: drop-shadow(0 0 25px rgba(43, 255, 0, 0.3));
  right: 3.6rem;
  top: -1rem;
}


/*
- - - - - - - - - - - - - - - - - - - 
- Utility Classes
- - - - - - - - - - - - - - - - - - -
*/
.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/*
- - - - - - - - - - - - - - - - - - - 
- Media Queries 
- - - - - - - - - - - - - - - - - - -
*/
@media screen and (max-width: 1080px) {
  :root {
    font-size: 1rem;
  }

  #cat {
    right: 3.7rem;
    top: -1rem;
  }

  @media screen and (max-width: 768px) {
    :root {
      font-size: 0.9rem;
    }

    #cat {
      right: 3rem;
      top: -1rem;
    }

    #contact-form {
      & .form-inputs {
        grid-template-columns: 1fr;
      }

      & .form-inputs input {
        grid-column: span 1;
      }

      & textarea {
        grid-column: span 1;
      }
    }
  }

  @media screen and (max-width: 480px) {
    :root {
      font-size: 0.8rem;
    }

    #cat {
      right: 2.2rem;
      top: -1rem;
    }
  }

  @media screen and (max-width: 375) {
    :root {
      font-size: 0.7rem;
    }


  }
}